<div id="navigation">
  <div id="site-title">
    <a href="/" rel="home">
      <h1 class="color-black">John Ryding</h1>
    </a>
  </div>

  <nav id="global-nav">
    <ul id="global-nav-list">
      <li class="global-nav-item">
        <a href="/" rel="home">Home</a>
      </li>
      <li class="global-nav-item">
        <a href="/about">About</a>
      </li>
      <li class="global-nav-item">
        <a href="http://blog.johnryding.com">Blog</a>
      </li>
      <li class="global-nav-item">
        <a href="/projects">Projects</a>
      </li>
    </ul>
  </nav>
</div>

<footer id="copyright" class="color-gray">&copy; 2011 - 2017 John Ryding</footer>
